@tailwind base;
@tailwind components;
@tailwind utilities;

  body {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  }
  
  :root {
    --pureblack: #000;
    --purewhite: #fff;
    --tint: #d1d5db;
    --darkgrey: #374151;
    --portwhite: #fff;
    --bodytext: #000000;
  }

  body[data-theme='neon'] {
    --pureblack: #bada55;
    --purewhite: #000000;
    --tint: #333333;
    --portwhite: #badc99;
    --bodytext: #bbd900;
  }