@import "normalize.css";

body {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}

p {
  margin: 1em 0;
  line-height: 1.7em;
}

h1,
h2,
h3 {
  font-family: "STIX Two Text", serif;
}

h1 {
  font-weight: 700;
  margin-bottom: 1px;
  line-height: 2.7rem;
}

h2,
h3 {
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.75em;
}
figcaption {
  text-align: center;
  font-weight: bolder;
}

.standardfont {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}
