body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background: #333333;
  }
}

.standardfont {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}
